<form action="{% url 'polls:vote' election.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h1>{{ election.election_name }}</h1></legend>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        {% for candidate in election.candidate_set.all %}
            <input type="radio" name="candidate" id="candidate{{ forloop.counter }}" value="{{ candidate.id }}">
            <label for="candidate{{ forloop.counter }}">{{ candidate.candidate_name }}</label><br>
        {% endfor %}
    </fieldset>
    <input type="submit" value="Vote">
</form>